header {
  align-items: center;
  color: var(--text-color);
  display: flex;
  font-weight: 100;
  justify-content: space-between;
  padding: 2rem 3rem;
}

h1 {
  margin: 0;
  color: var(--accent-color);
}

.trybetunes:hover {
  color: var(--main-color);
}

.user {
  align-items: center;
  background-color: var(--dark-transparency);
  border-radius: 1.6rem;
  display: flex;
  padding: 12px;
}

.user-name {
  font-size: 1.1rem;
  margin-left: 12px;
  margin-bottom: 0;
  color: var(--accent-color);
}

.user-img {
  border-radius: 100%;
  height: 1.75rem;
  width: 1.75rem;
}

.right-side {
  align-items: center;
  display: flex;
}

.trybetunes-link {
  text-decoration: none;
}