@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --main-color: #3B3546;
  --dark-transparency: #3b354672;
  --transparency-card: #13111882;
  --second-color: #A167A5;
  --btn-hover: #7D4B81;
  --accent-color: #D8D4F2;
  --light-transparency: #d8d4f26f;
  --text-light: #F1EFFA;
  --text-dark: #1D1A23;
  --transparency: rgba(255, 255, 255, 0);
}

.app-container {
  align-items: center;
  background-image: linear-gradient(180.0875052343223deg, rgba(161, 103, 165,1) -2.0545746388443007%,rgba(39, 35, 46,1) 83.33868378812198%);
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
} 

input:-webkit-autofill , input:-webkit-autofill:hover
, input:-webkit-autofill:focus , textarea:-webkit-autofill
, textarea:-webkit-autofill:hover , textarea:-webkit-autofill:focus
, select:-webkit-autofill , select:-webkit-autofill:hover
, select:-webkit-autofill:focus {
  background: none;
  border: 0.1rem solid var(--second-color);
  box-sizing: border-box;
  color: var(--text-ligth);
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  -webkit-transition: border 1s;
  -webkit-text-fill-color: var(--accent-color);
  transition: background-color 6000s ease-in-out 0s;
}
  
input:focus, textarea:focus, select:focus {
outline-offset: 0px !important;
outline: none !important;
}

::selection {
  background-color: var(--btn-hover);
}
